@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  .content-i-bgs{
    background: url(../img/2block-bg.png) 100% 100% no-repeat;
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1176px){
  .can-sell{
    background-position: 15px 126px;
  }
}
@media only screen and (max-width : 1100px){
  .right-m{
    margin: 0;
  }
}
@media only screen and (max-width : 994px){

  .pull-none{
    float: none !important;
  }
  .can-sell{
    background-image: none;
    text-align: center;
  }
  .scope{
    margin: 0;
    padding: 0;
  }
  .info-problems{
    br{
      display: none;
    }
    text-align: center;
    p{
      padding: 0;
    }
  }
  .module-all{
    text-align: center;
  }
  .item-module{
    margin-left: 0;
    width: 70%;
    li{
      padding-bottom: 15px;
    }
  }
  .company{
    text-align: center;
    img{
      width: 95%;
    }
  }
  .partners{
    text-align: center;
  }
  .number{
    margin: 0;
    float: none;
  }
}

@media only screen and (max-width : 982px){
  .client-zag{
    text-align: center;
  }
  .client-w{
    float: none;
    text-align: center;
  }
  .client-video{
    padding-left: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    img{
      width: 90%;
    }
  }
  .questions-for{
    text-align: center;
  }
}
@media only screen and (max-width : 940px){
  .client-zag{
    text-align: center;
  }
  .border-band-i{
    margin: 92px 0 0 7px;
  }
  .text-inf{
    h2{
      padding: 77px 0px 0;
    }
  }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 900px){

  .text-inf{
    text-align: center;
    br{
      display: none;
    }
  }


  .cl-name p{
    padding-bottom: 10px;
  }

  .client-nick{
    padding-bottom: 25px;
    text-align: center;
  }

}
@media only screen and (max-width : 898px){
  .border-band{
    display: none;
  }
  .content-i{
    text-align: center;
  }
  .content-i-bgs{
    background-image: none;
  }
}
	/**/

@media only screen and (max-width : 894px){}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 461px){
  .red-line{
    display: none;
  }
}


